{% extends "layouts/master_layout.html" %}



{% block navbarcontent %}

  {% include "layouts/navbar.html" %}

  {% block usercontent %}
    <div style="xborder:1px solid black; width:17%; max-width:17%; display:inline-block;" class="navbarItem" onmouseenter="showSubmenu(this)" onmouseleave="hideSubmenu(this)"> {{ current_user.name }}
            <div class="submenu">
          {% if current_user.is_authenticated() %}
                <div class="submenuItem" onClick="location.href='/profile'"> Profile </div>
                <div class="submenuItem" onClick="location.href='/login'"> Logout </div>
             
          {% else %}
                <div class="submenuItem" onClick="location.href='/login'"> Login </div>
          {% endif %}
            </div>

        </div>
  {% endblock %}

{% endblock %}



{% block bodycontent %}

    <h1 class="pageInfo" > Student Clubs </h1>  
    <h4 class="pageInfo" > To see the events of a club, click on it. </h4>

    {% for each_university in universities %}
    <ul>
      <li>{{each_university[1]}}

      {% for each_club in clubs %}

        {% if each_university[0] == each_club[6] %}
          <ul>
            <li class="clubsLi" onClick="location.href='/clubs/{{each_club[0]}}'"> {{each_club[1]}}</li>
          </ul>
        {% endif %}
      {% endfor %}

      </li>
    </ul>
    {% endfor %}

{% endblock %}
