        <div class="navbarMenu">
          
            <div class="navbarItem" onClick="location.href='/'">Home</div>
          
            <div class="navbarItem" onmouseenter="showSubmenu(this)" onmouseleave="hideSubmenu(this)">Rankings
              <div class="submenu">
                <div class="submenuItem" onClick="location.href='/university_rankings'"> University Rankings </div>
              </div>
            </div>

            <div class="navbarItem" onmouseenter="showSubmenu(this)" onmouseleave="hideSubmenu(this)">Students Platform
              <div class="submenu">
                <div class="submenuItem" onClick="location.href='/clubs'"> Clubs </div>
                <div class="submenuItem" onClick="location.href='/events'"> Events </div>
                <div class="submenuItem" onClick="location.href='/study_chains'"> Study Chains </div>
              </div>
            </div>

        </div>

        <div class="navbarItem" style="xborder:1px solid black" onClick="location.href='/register'">Register</div>

        {% block usercontent %}
          
        {% endblock %}
