        <nav class="navbar">

            <ni class="navbar-item"> Home</ni>

            <ni class="navbar-item" onmouseenter="showSubmenu(this)" onmouseleave="hideSubmenu(this)"> Rankings
                <div class="submenu" style="left:73px">
                    <a class="submenuItems" href="javascript:void(0)"> Best Universities </a>
                    <a class="submenuItems" href="javascript:void(0)"> All Universities A-Z </a>
                    <a class="submenuItems" href="javascript:void(0)"> By City </a>
                </div>
            </ni>

            <ni class="navbar-item" onmouseenter="showSubmenu(this)" onmouseleave="hideSubmenu(this)"> Students Platform
               <div class="submenu" style="left:173px">
                   <a class="submenuItems" href="javascript:void(0)"> Experiences </a>
                   <a class="submenuItems" href="javascript:void(0)"> Clubs-Events </a>
               </div>
            </ni>

            <ni class="navbar-item"> Study Calendar </ni>

            <ni class="navbar-item" style="float:right"> Sign in </ni>

            <ni class="navbar-item" style="float:right"> Log in </ni>


        </nav>
